.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

target/
!mvnw
!mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml

.classpath
.project
.settings/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp

*.class

*.war
*.jar
application-*.properties
application-*.yml
